html,body {
	width: 400px;
}
.full-pad {
	padding: 15px;
}
.no-pad {
	padding:0;
}
.only-left-pad {
	padding: 0 0 0 15px;
}
.only-top-pad {
	padding: 15px 0 0 0;
}
.only-right-pad {
	padding: 0 15px 0 0;
}
.only-bottom-pad {
	padding: 0 0 15px;
}
#degree-range {
	width:100%;
}